.container{
    background-color: red;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* align-items: center; */
}

.filha1{
    background-color: yellow;
    width: 60px;
    height: 60px;
}

.container2{
    background-color: gray;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quad{
    width: 60px;
    height: 60px;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.container3{
    background-color: gray;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
}

.container4{
    background-color: gray;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.container5{
    background-color: gray;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ret{
    width: 200px;
    height: 60px;
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.container6{
    background-color: gray;
    width: 500px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ret2{
    width: 90px;
    height: 20px;
    background-color: orange;
}

.retmenor{
    width: 50px;
    height: 20px;
    background-color: orange;
}

.container8{
    background-color: gray;
    width: 500px;
    height: 100px;
    display: flex;
}

.fantasma1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 30px;
}

.fantasma2{
    background-color: gray;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.container9{
    background-color: gray;
    width: 210px;
    height: 315px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
}

.retlaranja{
    background-color: orange;
    width: 200px;
    height: 150px;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.retver{
    background-color: red;
    width: 200px;
    height: 30px;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.retamar{
    background-color: yellow;
    width: 200px;
    height: 50px;
    border: 1px;
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.retlaranja2{
    background-color: orange;
    width: 120px;
    height: 40px;
}

.quadlaranja{
    background-color: orange;
    width: 60px;
    height: 40px;
}

.container10{
    background-color: gray;
    width: 370px;
    height: 310px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
}

.retamarelolargo{
    background-color: yellow;
    width: 250px;
    height: 30px;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.retlaranja3{
    background-color: orange;
    width: 350px;
    height: 150px;
    border: 1px;
    border-color: black;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quadamarelo{
    width: 80px;
    height: 80px;
    background-color: yellow;
    border: 1px;
    border-color: black;
    border-style: solid;
    margin-right: 30px;
}

.grupo{
    display: flex;
}

.grupo-direita{
    align-items: flex-end;
}